//  color variables

$color-bg-banner: #000000;
$color-bg: #F5F5F5;
$color-bg-button: #9D9D9D;

// text variables
$color-text-1:#FFFFFF;
$color-text-2:$color-bg-banner;
$color-text-carosello: #E5E5E5;

// reset
$reset-basic:none;
